/* add your css style rules here */


a {
  color: inherit;
  text-decoration: none;
}

body {
  background-image: -webkit-linear-gradient(top left, white, white);
  background-image:    -moz-linear-gradient(top left, white, white);
  background-image:     -ms-linear-gradient(top left, white, white);
  background-image:      -o-linear-gradient(top left, white, white);
  background-image:         linear-gradient(top left, white, white);
}

.step {
  width: 700px;
  height: 400px;
  padding: 40px 60px;

  font-size: 48px;
  text-align: left;

  opacity: 0.3;
}

.step.active {
  opacity: 1;
}

.slide {
  background: white;
}

.text-title {
  font-size: 80px;
}

code {
  background-color: yellow;
  font-size: 14px;
}

